.footer {
    background-color: $color-bg-dark;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.footer_container {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    display: flex;
    gap: 45px;
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
}

.footer_title,
.footer_menu-title,
.footer_contacts-title {
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 15px;
}

.footer_copyright {
    color: $color-white;
}

.footer_menu-list,
.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_menu-link,
.footer_phone,
.footer_mail {
    color: $color-white !important;
}

.footer_social-network {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.footer_contacts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px $color-white solid;
    border-radius: 50%;
}

.footer_menu-link:hover {
    text-decoration: underline;
}


@media only screen and (min-width: $screen__s) and (max-width: $screen__m) {
    .footer_container {
        max-width: 510px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media only screen and (min-width: $screen__m) {
    .footer_container {
        max-width: 720px;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media only screen and (min-width: $screen__l) {
    .footer_container {
        max-width: 1200px;
        flex-direction: row;
    }
}