.header-account {
    position: relative;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
    border-bottom: 1px solid var(--text-color);
    background-color: var(--body-color);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 20px;

    &_title {
        font-size: 30px;
        font-weight: 500;
        color: var(--text-color);
        transition: opacity var(--tran-04);
        padding-left: 60px;
    }

    &_user-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_user-name {
        color: var(--text-color);
    }

    &_user-container--icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--text-color);
        background-color: transparent;
    }

    &_user-icon {
        color: var(--text-color);
        transition: color var(--tran-05);
    }
}

@media screen and (max-width: $screen__m) {
    .header-account {
        &_title {
            font-size: 18px;
        }

        &_user-container {
            position: absolute;
            top: 15px;
            right: 50px;
        }
    }
}