body,
html {
    overflow-x: hidden;
}

header {
    .wrapper {
        background-color: $color-bg-dark;
    }

    .wrapper_menu_desktop {
        background-color: #ffffffcc;
        transition: background-color 0.5s ease-out;

        &:hover {
            background-color: $color-white;
        }
    }
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 150px;
    row-gap: 10px;

    @media screen and (max-width: $screen__l) {
        column-gap: 50px;
    }

    &.header.content {
        padding: 10px 0;
    }

    &__phone-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    &__phone-img {
        color: $color-white;
    }

    &__phone-text {
        color: $color-white;
        font-size: 16px;
        font-weight: 600;
    }

    &__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        color: $color-white;

        &__link {
            position: relative;

            &::before {
                content: '';
                width: 150%;
                height: 150%;
                background: $color-white;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 0.2s ease-out;
                z-index: 20;
            }

            &:hover::before {
                transform: translate(-50%, -50%) scale(1);
            }

            &:hover .header-top__socials__icon {
                color: $color-bg-dark;
            }
        }

        &__icon {
            display: block;
            position: relative;
            z-index: 30;
            width: 22px;
            height: 22px;
            transition: color 0.4s ease-out;
            color: $color-white;

            &_facebook {
                mask: url('../images/sections/svg/facebook.svg') no-repeat center / contain;
                background-color: currentColor;
            }

            &_youtube {
                mask: url('../images/sections/svg/youtube.svg') no-repeat center / contain;
                background-color: currentColor;
            }

            &_instagram {
                mask: url('../images/sections/svg/instagram.svg') no-repeat center / contain;
                background-color: currentColor;
            }
        }
    }
}

.page-header {
    .header-main-container {
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}


.menu {
    &_desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        &_list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        &_link {
            text-transform: uppercase;
            font-size: 16px;
            color: #000;
            transition: color 0.3s ease-out;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: $color-red;
                transform: scale(0);
                transition: transform 0.3s ease-out;
            }

            &:hover::after {
                transform: scale(1);
            }

            &:hover {
                color: $color-red;
            }

            &_active {
                color: $color-red;

                &::after {
                    transform: scale(1);
                }
            }
        }

        @media screen and (max-width: 1024px) {
            &_list {
                display: none;
            }

            &_logo {
                margin-left: 50px;
                margin-right: auto;
            }
        }

        @media screen and (max-width: 425px) {
            &_logo {
                margin-left: 20px;
            }
        }
    }
}

.burger-btn {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: $color-bg-dark;
    cursor: pointer;
}

@media screen and (min-width: 1023px) {
    .burger-btn {
        display: none;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 280px;
    height: 100%;
    background: $color-white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-out;
    z-index: 100;
    color: #333;

    &_mobile_logo {
        display: inline-block;
        margin: 20px;
    }

    &_mobile_close_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        mask: url('../images/sections/svg/close.svg') no-repeat center / contain;
        background-color: $color-bg-dark;
    }

    &_mobile_link {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex !important;
        align-items: center;
        gap: 10px;

        &_phone-text {
            font-weight: 600;
        }
    }

    &_mobile_icon {
        width: 20px;
        height: 20px;
        mask: url('../images/sections/svg/phone.svg') no-repeat center / contain;
        background-color: $color-red;
    }
}

.menu-nav_active {
    background-color: $color-red;
    color: $color-white;
}

.menu-nav ul {
    list-style-type: none;
    padding: 0;
}

.menu-nav ul li a {
    text-decoration: none;
    padding: 20px 20px;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    z-index: 90;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.contact {
    &_container {
        position: fixed;
        top: 0;
        right: -300px;
        width: 280px;
        height: 100%;
        background: $color-white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease-out;
        z-index: 100;
        color: #333;
    }

    &_close_btn {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        left: 20px;
        mask: url('../images/sections/svg/close.svg') no-repeat center / contain;
        background-color: $color-bg-dark;
    }

    &_btn {
        text-transform: uppercase;
        color: $color-white;
        background-color: $color-red;
        transition: background-color 0.3s ease-out;
        padding: 10px 23px;
        border-radius: 4px;

        &:hover,
        &:focus {
            background-color: $color-red-bg;
        }
    }

    &_content {
        padding: 40px 20px;
    }

    &_form_title {
        text-align: center;
        font-size: 19px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 40px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &_label {
            position: relative;
        }

        &_input {
            border: none;
            border-bottom: 1px solid $color-bg-dark;
            padding: 5px 5px 5px 30px;
            width: 100%;

            &:focus,
            &:active {
                outline: none;
            }


            &_icon {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);

                &_name {
                    mask: url('../images/sections/svg/user.svg') no-repeat center / contain;
                    background-color: #999;
                }

                &_phone {
                    mask: url('../images/sections/svg/form-phone.svg') no-repeat center / contain;
                    background-color: #999;
                }

                &_email {
                    mask: url('../images/sections/svg/form-email.svg') no-repeat center / contain;
                    background-color: #999;
                }
            }
        }

        &_submit_btn {
            padding: 15px 30px;
            margin-top: 40px;
            width: 100%;
            background-color: $color-red;
            transition: background-color 0.3s ease-out;
            color: $color-white;
            border-radius: 4px;

            &:hover {
                background-color: $color-red-bg;
            }
        }
    }
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}