.hero_pages {
    &_wrapper_services {
        background: url('../images/pages/services/services-page.webp') no-repeat center / cover;
        width: 100vw;
        height: 500px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }
    }
}