// COLORS

$color-red: #b10909;
$color-red-bg: #870909;
$color-bg-grey: #f6f6f6;
$color-black: #000000;
$color-white: #ffffff;
$color-bg-dark: #353535;
$color-dark-border: #707070;

// BREACKPOINT 

$screen__xxs: 320px;
$screen__xs: 480px;
$screen__s: 640px;
$screen__m: 768px;
$screen__l: 1024px;
$screen__xl: 1440px;